{% extends 'base.html.twig' %}

	{% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('build/appstyle.css') }}">
    {% endblock %}

{% block body %}

	<h1>Listado de autores</h1>
	<ul>
	    {% for autor in vectorautores %}
	        <li>{{ autor.nombre }}</li>
	    {% endfor %}
	</ul>
	<a href="{{ path('autor_nuevo')}}">Añadir autor</a>
	<a href="{{ path('libro_nuevo')}}">Añadir libro</a>

	<button type="button" class="btn btn-primary">cambiar color</button>
	<!-- Button trigger modal -->
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

{% include 'autor/modal.html.twig' %}
	
{% endblock %}

{% block javascripts %}
  	<script src="{{ asset('build/app.js') }}"></script>
{% endblock %}


